<ion-view class="settings" show-tabs>
    <ion-nav-bar class="bar-royal">
      <ion-nav-title>My DigiID</ion-nav-title>
      <ion-nav-back-button>
      </ion-nav-back-button>
    </ion-nav-bar>
    <ion-content>
  
      <div class="list settings-list settings-input-group">
        <label class="item item-input item-stacked-label">
          <span class="input-label" style="font-size:24px">My Address</span>
          <input value="{{myAddress}}" readonly="readonly" style="font-size:24px">
        </label>
    </ion-content>
  </ion-view>
  