<ion-view id="tab-home" class="settings" show-tabs>
  <ion-nav-bar class="bar-royal">
    <ion-nav-back-button>
    </ion-nav-back-button>
    <ion-nav-title>DigiID - Success</ion-nav-title>
  </ion-nav-bar>

  <ion-content>

    <div class="list card homeTip" >
      <div class="item item-icon-right item-heading">
        <a><i class="icon ion-ios-close-empty close-home-tip"></i></a>
      </div>
      <div>
        <i class="icon big-icon-svg">
          <img src="img/icon-lock.svg" class="bg bg-home"/>
        </i>
      </div>
      <div class="title">
        You have successfully signed into <br><b>{{host}}</b><br> using address <br>{{address}}
      </div>
    </div>
  </ion-content>
</ion-view>